p:first-of-type{
    background-color: lightseagreen;
    padding: 1em;
    font-size: 2rem;
    width: auto;
    margin-left: 100px;
}

p:last-of-type{
    background-color: lightpink;
    padding: 1em;
    font-size: 2rem;
    width: 100%;
    margin-left: 100px;
}